body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: darkblue;
    color: white;
}